<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用该方式，默认创建单例对象-->
    <!--<bean id="springBean" class="myspring.bean.SpringBean">-->

    <!--在bean标签中加入scope属性，选择prototype模式，每一次都会创建新的对象-->
    <!--Spring上下文初始化的时候，不会初始化这些prototype的bean，在调用getBean()方法时进行初始化-->
    <bean id="springBean" class="myspring.bean.SpringBean" scope="prototype"/>
</beans>